<!DOCTYPE html>
<html>
	<head>
		<title>Rate Calculator</title>
	</head>
	<body>
		<form action="/rates" action="GET">
			<table>
				<tr>
					<th>Type of Mail</th>
					<td>
						<select name="mailType">
							<option value="1">Letters (Stamped)</option>
							<option value="1">Letters (Metered)</option>
							<option value="1">Large Envelopes (Flats)</option>
							<option value="1">Parcels</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>Weight</th>
					<td>
						<input name="weight" type="number" />
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>